html {
	min-height: 100vh;
}

body {
	background-color: #607D8B;
}

h1, h2, h3, h4, h5, h6, p, span, ul, li, ol {
	color: #eeeeee;
	text-shadow: 1px 1px 1px #1c313a;
}

h1, footer {
	text-align: center;
}

hr {
	border-color: #8eacbb;
}

header, main, footer, .margin-container {
	margin: 15px;
}

h1 {
	font-size: 2em;
}

li > a, li > a:hover, li > a:visited {
	color: #bbdefb;
}

main > li, main > ul > li {
	margin-bottom: 10px;
}



/* Browsing */
main > #board-list {
	min-width: 100%;
	width: 100%;
}

main > #board-list tr td:first-child {
	font-weight: bold;
	color: #eeeeee;
}

main > #board-list tr td:nth-child(2) {
	padding-left: 15px;
	min-width: 100%;
	width: 100%;
}

main > #board-list tr td:nth-child(2) > p {
	display: inline;
}

main > #board-list tr td:nth-child(2) > blockquote {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #1c313a;
}

#board-list a, #board-list a:hover, #board-list a:visited {
	color: #bbdefb;
}

#board-list p.goto > a {
	text-decoration: none;
}

h2#board-list-empty {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}


/* Thread */

#thread-container {
	min-width: 100%;
	width: 100%;
}

#thread-container > #post-title {
	color: #ef9a9a;
	font-weight: bold;
	margin-bottom: 5px;
}

.post-container {
	min-width: 100%;
	width: 100%;
}

.post-container > .anchor {
	display: none;
}

#thread-container > hr {
	margin-top: 15px;
	margin-bottom: 15px;
}

.post-container > p {
	display: inline;
	font-weight: bold;
}

.post-container > blockquote {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #1c313a;
}

.post-container a, .post-container a:hover, .post-container a:visited {
	color: #bbdefb;
}


/* Footer */
footer a, footer a:hover, footer a:visited,
.window-toggler a, .window-toggler a:hover, .window-toggler a:visited{
	color: #bbdefb;
	user-select: none;
	cursor: pointer;
}

.window-toggler {
	text-align: center;
	display: inline;
	margin-right: 15px;
}


/* Forms */
#form-thread {
}

#form-post {
	
}

.form-window {
	position: absolute;
	border: 2px solid #455a64;
	min-height: 150px;
	min-width: 150px;
	background-color: #607D8B;
	padding: 5px;
}

.form-window > .form-title, .form-window > p.form-error {
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.form-window > p.form-error {
	color: #ef9a9a;
}

.form-window > .form-close-button {
	position: absolute;
	top: 5px;
	right: 5px;
	user-select: none;
}

.form-window > .form-close-button:hover {
	cursor: pointer;
}

.form-window button {
	float: right;
}

.form-window input {
	width: calc( 100% - 8px );
	margin-bottom: 5px;
}
